<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puppies</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="main-content">
    <h1 class="main-title">Welcome to the Puppies App</h1>
    <p class="main-description">Another App about your favorite Puppies!</p>
  </div>
</body>
</html>
