<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Puppies</title>
</head>
<body>
  <h1>Welcome to Puppy Land</h1>
  <p>This App will be accepting all of your favorite puppies.</p>
</body>
</html>